{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1>Compare Page</h1>

    {% if products is empty %}
        <p>No products in compare list.</p>
    {% else %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Property</th>
                {% for product in products %}
                    <th>{{ product.translated.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Price</td>
                {% for product in products %}
                    <td>{{ product.calculatedPrice.unitPrice|currency }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Manufacturer</td>
                {% for product in products %}
                    <td>{{ product.manufacturer.translated.name ?? '-' }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
